venv/
env/
.env
*.pyc
__pycache__/
*.egg-info/

.vscode/
.idea/
*.swp
*.swo
*.code-workspace


.DS_Store
Thumbs.db
.DS_Store?
._*

.streamlit/
streamlit_cached/

# .ipynb_checkpoints/
# *.ipynb


data/*.csv
data/*.xlsx


logs/
*.log

# Models 
# models/*.h5
# models/*.pkl
# models/*.json